@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
}
:root{
    --blue: #0a1894;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    
}
body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Merriweather Sans', sans-serif;
 
}
.container{
    
    width: 100%;
    height: 100%;
   
    
}
.navigation{
    width: 300px;
    height: 100%;
    background-image:linear-gradient(to right, #1f32d6, #000c74);
    border-left: 10px solid #1f32d6;
    transition: 0.5s;
    overflow: hidden;
}
.navigation.active{
    width: 75px;
}
.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li{
    position: relative;
    width: 100%;
    list-style: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.navigation ul li:hover,
.navigation ul li.hovered{
    background: var(--white);
}
.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a{
    position: relative;
    width: 100%;
    display: block;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    font-size: 20px;
    font-weight: 700;
    color: #000c74;

}
.navigation ul li a .icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon{
    font-size: 1.25em;
}
.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* curva fora do menu*/
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none; 
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 5px;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none; 
}
/*main area*/
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active
{
    width: calc(100% - 80px);
    left: 80px;
}

.topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: white;
    top: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px 0 black;

}

.toggle{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2.5em;
    cursor: pointer;
}
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #000000;
    padding-right: 40px;
    color:rgb(0, 0, 0);
  }
  .input-search::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
.usuario{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.usuario img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardBox{
    margin-top: 10px;
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.cardBox .card{
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08)
}
.cardBox .card .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: #000c74;
}
.cardBox .card .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 5px;
}
.cardBox .card .iconBx{
    font-size: 2.5em;
    color: var(--black2);
}

.rankCard{    
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
      
}
.rankCard .rank{
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
}
.rankCard .rankSale{
    position: relative;
    display: grid;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    
}
.rankCard .rankSale .numbers
{
    justify-content: center;
    position: static;
    font-weight: 500;
    font-size: 2.5em;
    color: #000c74;
}
.rankCard .rankSale .cardName{
    color: var(--black2);
    font-size: 1.1em;
    margin-top: 0;
}
.rankCard .rankSale .iconBx{
    font-size: 2.5em;
    color: var(--black2);
}

.details{    
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;  
}
.details .recentOrders{
    position: relative;
    display: grid;
    min-height: 350px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
.cardHeader{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cardHeader h2{
    font-weight: 600;
    color: #000c74;
}
.cardHeader h5{
    font-weight: 600;
    color: #000c74;
}
.btn{
    position:relative;
    padding: 5px 10px;
    background:#000c74;
    text-decoration: none;
    color: var(--white);
    border-radius: 12px;
}
.details table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.details table thead td{
    font-weight: 600;
    color: #000c74;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr{
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


.details .recentOrders table tbody tr:hover{
    background: #000c74;
    color: var(--white);
}
.details .recentOrders table tr td{
    padding: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr td:last-child{
    border-right: 0px;
    text-align: end;
}
.details .recentOrders table tr td:nth-child(2){
    text-align: left;
}
.details .recentOrders table tr td:nth-child(3){
    text-align: left;
}
.status.pago{
    padding:  2px 4px;
    background: #17c300;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.status.Npago{
    padding:  2px 4px;
    background: #ff0000;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}
.progress{
    width: 64%;
    margin-bottom: 35px;
}

.name{
    font-size: 1.2em;
    float: left;
    padding: 5px;
    text-align: justify;
}
 .porcentagem{
    font-size: 1.2em;
    float: right;
    padding: 5px;
    text-align: justify;
    

}